#cf7k_webhook_integration_metabox {
	display: none;

	.hndle, .toggle-indicator {
		background: black;
    	color: white;
	}

	&.enabled {
		display: block;
	}

	i.#{$prefix}-spin {
		animation:  #{$prefix}-spin 2s linear infinite;
	}

	.cf7k-cpt-metabox-webhook {
		&-field-mapping {
			overflow: hidden;
		}

		&-field-mapping-header {
			overflow: hidden;
			margin-bottom: 20px;

			> div {
				width: 45%;
				float: left;
			}
		}

		&-field-mapping-row {
			overflow: hidden;
			margin-bottom: 15px;

			> div {
				float: left;
				width: 45%;
			}

			> div:last-child {
				float: left;
				width: 10%;

				i {
					cursor: pointer;
				}
			}
		}
	}
}
