.cf7k-cpt-metabox {
	table {
		border-collapse: collapse;
		margin-top: 0.5em;
		width: 100%;
		clear: both;

		th, td, p {
			font-size: 14px;
		}

		th {
			vertical-align: top;
			text-align: left;
			padding: 20px 10px 20px 0;
			width: 200px;
			line-height: 1.3;
			font-weight: 600;
		}

		td {
			margin-bottom: 9px;
			padding: 15px 10px;
			line-height: 1.3;
			vertical-align: middle;
		}

		tr > th {
			min-width: 200px;
		}
	}

	.select2 {
		width: 100% !important;
	}

	.select2-selection {
		border: 1px solid #ddd;
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	}
}
